%div{:id => 'header', :class => 'landing'} 
  #utilnav
    %ul
      %li
        %a{:href => '#'}= 'Search'
      %li
        %a{:href => '#'}= 'Newsletter Signup'
  #nav
    %ul
      %li
        %a{:href => '#'}= 'About'
      %li
        %a{:href => '#'}= 'Listen'
      %li
        %a{:href => '#'}= 'Watch'
      %li
        %a{:href => '#'}= 'Learn'
      %li
        %a{:href => '#'}= 'Songs'
      %li
        %a{:href => '#'}= 'Contributors'
      %li
        %a{:href => '#'}= 'Events'