%div{:id => 'header', :class => 'home'} 
  #utilnav
    %ul
      %li{:class => 'search'}
        %a{:href => '#'}= 'Search'
        %div{:class=>'searchbox'}
          %form{:method=>'GET', :action=>'#'}
            %input{:type=>'text',:name=>'q'}
      %li
        %a{:href => '#'}= 'Newsletter Signup'
  #nav
    #homelink
    %ul
      %li
        %a{:href => '/about'}= 'About'
      %li
        %a{:href => '/listen'}= 'Listen'
      %li
        %a{:href => '/watch'}= 'Watch'
      %li
        %a{:href => '/learn'}= 'Learn'
      %li
        %a{:href => '/songs'}= 'Songs'
      %li
        %a{:href => '/contributors'}= 'Contributors'
      %li
        %a{:href => '/events'}= 'Events'

  %div{:class=>'headercallout listen'}
    %div{:class=>'title'}
      %span= 'Listen'
      %a{:class=>'viewall', :href=>'#'}
        %img{:src=>'/images/title-all-songs.png'}
    %ul{:class=>'contents'}
      %li
        %button{:class=>'audioplay paused'}
        %h3= 'Death Is Ended'
        %a{:href=>'#'}= 'New City Fellowship, Glenwood'
      %li
        %button{:class=>'audioplay playing'}
        %h3= 'I Am The Door'
        %a{:href=>'#'}= 'New City Fellowship, Glenwood'
      %li
        %button{:class=>'audioplay paused'}
        %h3= 'Let The People Praise Him'
        %a{:href=>'#'}= 'New City Fellowship, Glenwood'
      %li{:class=>'last'}
        %a{:href=>'#'}
          %img{:src=>'/images/subscribe-podcast-small-callout.png'}

%div{:id => 'content',:class=>'home'}
  #leftcallout
    %div{:class=>'title'}
      %span= 'Watch'
      %a{:class=>'viewall', :href=>'#'}
        %img{:src=>'/images/title-all-videos.png'}
    <object width="367" height="208"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=6102370&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=6102370&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=0&amp;show_portrait=0&amp;color=ffffff&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="367" height="208"></embed></object>
    %h3
      %a{:href=>'#'}= 'Banyamulenge Christmas Song'
    %p= 'This is a Christmas song that was sung this past year for a candlelight service at New City St. Louis'

  #rightcol
    #ad
      %a{:href=>'#'}
        %img{:src=>'/images/music-conference.png'}
    #learn
      %div{:class=>'title'}
        %span= 'Learn'
        %a{:class=>'viewall', :href=>'#'}
          %img{:src=>'/images/title-all-articles.png'}
      %ul
        %li
          %h3
            %a{:href=>'#'}= 'Our Worship Seeks to be Cross-Cultural'
          %p= 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis neque risus, aliquet a vulputate in, imperdiet non nunc. Maecenas non odio elit, a varius purus.'
        %li
          %h3
            %a{:href=>'#'}= 'Our Worship Seeks to be Cross-Cultural'
          %p= 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis neque risus, aliquet a vulputate in, imperdiet non nunc. Maecenas non odio elit, a varius purus.'
    #findasong
      %form{:action=>'#', :method=>'get'}
        %div{:class=>'typechooser'}
          %input{:type=>'radio',:name=>'type',:value=>'Sheet Music'}
          %span= 'Sheet Music'
          %input{:type=>'radio',:name=>'type',:value=>'Lyrics'}
          %span= 'Lyrics'
          %input{:type=>'radio',:name=>'type',:value=>'Overhead Slides'}
          %span= 'Overhead Slides'
        %h2= 'Find A Song'
        %div{:class=>'searchwrap'}
          %input{:type=>'text',:class=>'searchtext',:name=>'q',:value=>'Album, Artist, or Song Name'}
          %input{:type=>'image',:src=>'/images/search-icon2.png',:class=>'searchbutton',:name=>'submit'}  