%div{:id => 'header', :class => 'interior listen'} 
  #utilnav
    %ul
      %li{:class => 'search'}
        %a{:href => '#'}= 'Search'
        %div{:class=>'searchbox'}
          %form{:method=>'GET', :action=>'#'}
            %input{:type=>'text',:name=>'q'}
      %li
        %a{:href => '#'}= 'Newsletter Signup'
  #nav
    #homelink
    %ul
      %li
        %a{:href => '/about'}= 'About'
      %li
        %a{:href => '/listen',:class=>'selected'}= 'Listen'
      %li
        %a{:href => '/watch'}= 'Watch'
      %li
        %a{:href => '/learn'}= 'Learn'
      %li
        %a{:href => '/songs'}= 'Songs'
      %li
        %a{:href => '/contributors'}= 'Contributors'
      %li
        %a{:href => '/events'}= 'Events'

%div{:id => 'content',:class=>'interior listen'}
  %h2{:class=>'pagename'}
    Listen

  %div{:class=> 'intro'}
    %a{:href=>'#'}
      %img{:src=>'/images/subscribe-podcast.png',:alt=>'Subscribe to the NCF Music Podcast' }
    %p
      Our worship seeks to be cross-cultural yet flowing out of our Reformed tradition. This means that we understand God to be the audience of our worship. We seek to please Him. Our understanding of the "Regulative Principal of Worship" is that all that we can do in worship must be biblical. We believe that we are to be courageous to use all of ourselves in worship, so we follow the teachings of the Psalms to use our bodies in such things as clapping.
    %div{:class=>'break'}= ''
  
  %ul{:class=>'aggregation'}
    %li
      %button{:class=>'audioplay paused'}
      %h3= 'Death Is Ended'
      %div{:class=>'audioplayer'}= 'AUDIO PLAYER HERE'
      %div{:class=>'details'}
        %span= 'June 3, 2010'
        %span= ' | '
        %span
          %a{:href=>'#'}= 'James Ward'
        %span= ' | '
        %span
          %a{:href=>'#'}= 'New City Fellowship, Glenwood'
        %span= ' | '
        %span= 'View Song Info'
   